@{
    ViewData["Title"] = "Contact";
}
<h1 class="display-4">@ViewData["Title"]</h1>
<hr />
<br />




<style>


    .page-container {
        display: flex;
        /*border: 3px dashed darkblue;*/
        box-sizing: border-box;
    }


    .aboutme {
        /*border: 3px dashed green;*/
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }


</style>




<div class="page-container">
    <div class="aboutme">

        <p>
            2024
        </p>

        <br />
        <br />
        <br />

    </div>
</div>



