@{
    ViewData["Title"] = "Home";
}


<head>
    <link rel="stylesheet" type="text/css" href="~/css/index.css"/>
</head>


<div class="text-center">
    <h1 class="display-4">Welcome to our store!</h1>
    
    <img src="~/images/shoelogo.png" alt="Alternate Text" />

</div>
